.main {
  background: 
    radial-gradient(
        circle at center, 
        var(--primary-gradient-dark), 
        var(--primary-dark), 
        var(--original-palette4)
      );
  height: 100svh;
  place-items: center;
}

.article {
  border: 0.01rem  var(--primary-gradient-light) solid;
  border-radius: 1rem;
  box-shadow: 0.45rem 0.65rem 0.05rem 0.05rem rgba(0, 0, 0, 0.3);
  color: white;
  background-color: var(--primary-dark);
  padding: 1rem 2rem;
  width: min(400px, 90vw);
}

.h1 {
  line-height: 1.1;
  margin: 0;
  text-align: center;
}

.p{
  margin: 0.5rem 0 0;
  padding: 0;
}